/* Styles do Menu */

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 76px;
    grid-template-columns: 100%;
    overflow: auto;
}

header, main {
    width: 100%;
    height: 100%;
}

header {
    border-bottom: 1px solid #b3b3b3;
    display: grid;
    grid-template-columns: 60% 40%;
}

.texto-inicial {
    padding-left: 70px;
    display: flex;
    align-items: center;
}

.texto-inicial p {
    font-size: 30px;
    color: #3d3d3d;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
}

.icones {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 90px));
    align-items: center;
}

.icones a {
    display: inline-block;
    width: 36px;
    height: 36px;
}

.icones a img {
    width: 100%;
    height: 100%;
}