/* Styles do Menu */

.container {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 90px 1fr;
    grid-template-columns: 100%;

    overflow: auto;
}

header, main {
    width: 100%;
    height: 100%;
}

header {
    border-bottom: 1px solid #b3b3b3;

    display: grid;
    grid-template-columns: 70% 30%;
}

.texto-inicial {
    padding-left: 40px;

    display: flex;
    align-items: center;
}

.texto-inicial h2 {
    font-size: 36px;

    color: #3d3d3d;
    
    font-family:Arial, Helvetica, sans-serif;
}

.icones {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 80px));
    align-items: center;
}

.icones a {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.icones a img {
    width: 100%;
    height: 100%;
}