:root {
    --primeira-cor: #ffffff;
    --segunda-cor: #fff;
    --terceira-cor: #fff;
}

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    color: black;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

/* Favor não adicionar nada de CSS aqui, o único objetivo desse arquivo é resetar o CSS das páginas e setar padrões, nada mais */
/* Em vez de escrever aqui crie um novo arquivo .css e digite lá */