.container {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 90px 1fr;
    grid-template-columns: 100%;

    overflow: auto;
}

header, main {
    width: 100%;
    height: 100%;
}

/* Header */

header {
    border-bottom: 1px solid #b3b3b3;

    display: grid;
    grid-template-columns: 70% 30%;
}

.texto-inicial {
    padding-left: 40px;

    display: flex;
    align-items: center;
}

.texto-inicial h2 {
    font-size: 36px;

    color: #3d3d3d;
    
    font-family:Arial, Helvetica, sans-serif;
}

.icones {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 80px));
    align-items: center;
}

.icones a {
    display: inline-block;

    width: 40px;
    height: 40px;
}

.icones a img {
    width: 100%;
    height: 100%;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 97%;
    height: 76vh;

    background-color: rgb(230, 230, 230);
    border-radius: 15px;

    margin: 20px;

    padding: 10px;

    display: grid;
    grid-template-rows: 36% 46% 18%;
    grid-template-columns: 100%;
}

.dados, .preferencias, .links {
    width: 100%;
    height: 100%;
}



#titleEdit{
    text-align: center;
    margin-top: 20px;
    font-size: 34px;
}

.dados-senha section {
    display: grid;
    align-items: center;
    justify-content: center;
}

.dados-senha section label {
    font-size: 22px;
}

.dados-senha section input:not([type~="radio"]), select, option, .cidades > input {
    width: clamp(120px, 20vw, 300px);
    height: 30px;

    padding: 0 10px;

    font-size: 20px;
    
    border: 1px solid black;
    border-radius: 10px;
}

.dados-senha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.dados-senha section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.links {
    gap: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.links div {
    gap: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    display: inline-block;

    width: 120px;
    height: 40px;

    text-decoration: none;

    border: 1px solid black;
    border-radius: 10px;

    background-color: #d5d5d5;

    display: flex;
    justify-content: center;
    align-items: center;
}

.link:hover {
    background-color: #b3b3b3;
}

.link:active {
    color: #d5d5d5;
    background-color: black;
}

.erro {
    color: red;

    font-size: 18px;
}