.container {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 90px 1fr;
    grid-template-columns: 100%;
}

header, main {
    width: 100%;
    height: 100%;
}

/* Header */

header {
    border-bottom: 1px solid #b3b3b3;

    display: grid;
    grid-template-columns: 70% 30%;
}

.texto-inicial {
    padding-left: 40px;

    display: flex;
    align-items: center;
}

.texto-inicial h2 {
    font-size: 36px;

    color: #3d3d3d;
    
    font-family:Arial, Helvetica, sans-serif;
}

.icones {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 80px));
    align-items: center;
}

.icones a {
    display: inline-block;

    width: 40px;
    height: 40px;
}

.icones a img {
    width: 100%;
    height: 100%;
}

/* Main */

main {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.content {
    width: 97%;
    height: 95%;

    background-color: rgb(230, 230, 230);
    border-radius: 15px;

    padding: 10px;

    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
}

/* Linha 1 */

.linha-1 {
    display: grid;
    grid-template-columns: 20% 40% 40%;
}

.imagem figure {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem figure img {
    width: auto;
    height: 80%;

    filter: brightness(0);
}

.dados-usuario {
    height: 100%;

    padding-left: 50px;

    padding-top: 20px;

    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(auto, 60px));
    grid-template-columns: 100%;
}

.dados-usuario > p {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status {
    margin-left: 30px;
    padding: 10px 20px;

    color: green;
    border: 2px solid green;

    border-radius: 15px;    
}

/* Linha 2 */

.linha-2 {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.linha-2 section {
    padding-left: 20px;

    display: grid;
    grid-template-rows: 40px 1fr;
    grid-template-columns: 100%;
}

.linha-2 > section > p {
    padding-left: 30px;
}

.titulo-dados {
    text-decoration: underline;
}

.linha-2 section div {
    width: 100%;
    height: 100%;

    padding: 30px 20px;

    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 50px;

    border: 1px solid #b3b3b3;
    border-radius: 20px;

    overflow-y: scroll;
}