main {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 97%;
    height: 76vh;
    background-color: rgb(230, 230, 230);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dados, .preferencias, .links {
    width: 100%;
}

#titleEdit, #title {
    text-align: center;
    margin-top: 20px;
}

.title {
    font-size: 27px;
    font-weight: bold;
}

.dados-senha {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.dados-senha section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dados-senha section label {
    font-size: 22px;
}

.dados-senha section input:not([type~="radio"]),
select, option, .cidades > input {
    width: clamp(120px, 20vw, 300px);
    height: 30px;

    padding: 0 10px;
    font-size: 20px;

    border: 1px solid black;
    border-radius: 10px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.links div {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.link {
    width: 120px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;

    background-color: #d5d5d5;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.link:hover {
    background-color: #b3b3b3;
}

.link:active {
    color: #d5d5d5;
    background-color: black;
}

.erro {
    color: red;
    font-size: 18px;
}
