body {
   
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 30px;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dado{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
}

h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color: #000;
}


#form1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    justify-content: center;
    
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select, option{
    width: 350px;
    height: 40px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 16px;
}


input[type="submit"]{
    display: inline-block;
    background-color: #d9d9d9;
    font-family:Arial, Helvetica, sans-serif;
    color: #000;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    width: 100px;
}


label, p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}



section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;


}

#erro{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0 rem;

    color: rgb(221, 48, 48);
}


#btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    align-items: center;

    grid-column: span 2;
}

#btn section {
    width: 100%;

    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;

    gap: 40px;
}



#disponibilidade{
    display: flex;
    justify-content: center;
    gap: 15px;
    
}

#radios{
    display: grid;
    justify-content: center;
}


.preferencia{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#dado2{
    display: flex;
}

#dado3{
    display: flex;
}
#cancelar{

    background-color: #d9d9d9;
    font-family:Arial, Helvetica, sans-serif;
    color: #000;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    width: 100px;

}

#voltar{
    background-color: #e2e2e2;
    font-family:Arial, Helvetica, sans-serif;
    color: #000;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 3px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    width: 80px;
}

#msg{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
}