/* Main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content {
    width: 97%;
    height: 95%;

    background-color: rgb(230, 230, 230);
    border-radius: 15px;

    padding: 10px;

    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
}

/* Linha 1 */

.linha-1 {
    display: grid;
    grid-template-columns: 20% 40% 40%;
}

.imagem{
    place-items: center;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.imagem figure {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#editPerfil a {
    text-decoration: none;
    background-color: rgb(238, 238, 238);
    padding: 6px;
    border: 1px solid rgb(55, 56, 55);
    border-radius: 10px;
    font-size: 16px;
    
}

.imagem figure img {
    width: auto;
    height: 80%;
    filter: brightness(0);
}

.dados-usuario {
    height: 100%;
    padding-left: 50px;
    padding-top: 20px;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(auto, 60px));
    grid-template-columns: 100%;
}

.professor {
    grid-template-rows: repeat(auto-fill, minmax(auto, 80px)) !important;
}

.dados-usuario > p {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0%;
}

.status {
    margin-left: 20px;
    padding: 4px 12px;
    font-size: 17px;
    color: green;
    border: 2px solid green;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Linha 2 */

.linha-2 {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.linha-2 section {
    padding-left: 20px;

    display: grid;
    grid-template-rows: 40px 1fr;
    grid-template-columns: 100%;
}

.linha-2 > section > p {
    padding-left: 30px;
}

.titulo-dados {
    text-decoration: underline;
    font-style: italic;
}

.linha-2 section div {
    width: 100%;
    height: 100%;

    padding: 30px 20px;

    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 50px;

    border: 1px solid #b3b3b3;
    border-radius: 20px;

    overflow-y: scroll;
}

#text{
    font-weight: bold;
}

.linha-2-prof{
    margin-top: 40px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(3, 1fr);
    
}

.linha-2-prof section div {
    width: 100%;
    height: 100%;

    padding: 30px 20px;

    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 50px;

    border: 1px solid #b3b3b3;
    border-radius: 20px;

    overflow-y: scroll;
}

.linha-2-prof section {
    padding-left: 20px;

    display: grid;
    grid-template-rows: 40px 1fr;
    grid-template-columns: 100%;
}

.linha-2-prof > section > p {
    padding-left: 30px;
}

#title{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.title {
    font-size: 27px;
    font-weight: bold;
}