
#menu {
    width: 100%;                  
    background-color: #ffffff;    
    display: flex;                
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
    box-sizing: border-box; 
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    
    
}

#icone {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.iconeMenu {
    width: 25px; 
    height: 25px;
    margin-right: 15px;
}

#saudacao h1 {
    font-size: 25px;
    color: #3d3d3d;
    margin-left: 30px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

#solicitacoes{
    width: 35px;
}