main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.usuarios {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usuario {
    width: 70%;
    height: auto;

    display: grid;
    grid-template-columns: 1fr 1.2fr 2fr;

    border: 1px solid #b3b3b3;
    border-radius: 15px;
    padding: 15px;
}



.usuario a {
    display: inline-block;

    text-decoration: none;
    font-size: 24px !important;

    padding: 8px 0;

}

.usuario p {
    padding: 10px 0;
    font-size: 20px;
}

.nome:hover {
    font-weight: bold;
}

.disponibilidade {
    padding: 4px 12px;
    font-size: 17px;
    color: green;
    border: 2px solid green;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coluna-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-left: 20px;
}

#title{
    width: 100%;

    display: flex;
    flex-direction: column;
    place-items: center;

    margin: 20px 0;
}

.title {
    font-size: 27px;
    font-weight: bold;
}

.subtitulo{
    font-size: 19px;
    margin-top: 25px;
}