.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 4vh;
    height: 100%;
    width: 0 auto;
}

.header{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family:Arial, Helvetica, sans-serif;

    font-size: 1.5rem;
}
h2{
    font-size: 1rem;
    font-weight: lighter;
    font-family:Arial, Helvetica, sans-serif;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vh;
    gap: 1vh;
    font-family:Arial, Helvetica, sans-serif;
}

.save{
    width: 5rem;
    height: 2.2rem;
    margin-top: 2vh;
    border-radius: 0.4rem;
    border: 1px solid black;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 3vh;
}

.aba{
    border-radius: 0.4rem;
    border: 1px solid black;
    height: 2.2rem;
    width: 18rem;
}

.novasenha{
    margin-top: 1vh;
    font-weight: bold;
}

.return{ 
    border: 1px solid black;
    border-radius: 0.4rem;
    padding: 0.4rem 0.8rem;
    text-decoration: none;
    margin-left: 5vw;
    cursor: pointer;
}

.btnreturn{
    margin-top: 15vh;
    
}

label{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}